ABOUT-NLS
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.*
configure
depcomp
install-sh
ltmain.sh
m4/
missing
po/*.header
po/*.sed
po/*.sin
po/Makefile.in.in
po/Makevars.template
po/Rules-quot
